<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dummy -->
      <package
            uri="http://dummy.domainModels.flandm.unican.es"
            class="dummy.DummyPackage"
            genModel="models/dummy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yelp -->
      <package
            uri="http://yelp.domainModels.flandm.unican.es"
            class="yelp.YelpPackage"
            genModel="models/yelp.genmodel"/>
   </extension>

</plugin>
